<!-- <link rel="stylesheet" href="/stylesheet/home.css" /> -->
<% layout ('layouts/boilerplate') %>

<body class="d-flex text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>Welcome to My First Project!</h1>
      <p class="lead">
        View our hand-picked campgrounds from all over the world
      </p>
      <a class="btn btn-primary" href="/campgrounds">View all campgrounds</a>
      <div class="container-fluid">
        <img
          src="/IMG/undraw_camping_noc8.svg"
          alt=""
          class="img-fluid mt-3"
          style="max-width: 400px; height: auto"
        />
      </div>
    </main>
  </div>
</body>
